<!DOCTYPE html>
<html>
  <head>
    <title>Go Google OAuth 2.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <form method="POST" action="/auth">

      <div class="container">
        <div class="row">
          <section>
            <div class="hero-unit">
              <h1>GO Google OAuth</h1>
              <p>Press the Authenticate button to test.</p>
            </div>
          </section>
        </div>
        <div class="row" style="margin-left:20px;">
          <div class="span3">
            <section>
              <button type="submit" class="btn">Authenticate</button>
            </section>
          </div>
          <div class="span8">
            <section>
              {{range .}}
                <label class="checkbox">
                  <input type="checkbox" name="scopes[]" value="{{.Url}}">
                  <strong>{{.Desc}}</strong>
                  <br>
                  <span class="muted">{{.Url}}</span>
                </label>
              {{end}}
            </section>
          </div>
        </div>
      </div>

    </form>
    <script src="http://code.jquery.com/jquery.js"></script>
  </body>
</html>