<!DOCTYPE html>
<html>
  <head>
    <title>Go Google OAuth 2.0<</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <section>
          <div class="hero-unit">
            <h1>GO Google OAuth</h1>
            <p>This is an implementtion of Google OAuth using Go</p>
          </div>
        </section>
      </div>
      <div class="row">
        <section>
          <div class="span3">
            <div id="img-wrapper">
              <img src="{{.Ui.Picture}}">
            </div>
          </div>
          <div class="span9">
            <p class="lead">{{.Ui.Name}}</p>
            <a href="{{.Ui.Link}}" class="btn">Google +</a>
          </div>
        </section>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
  </body>
</html>